@charset "utf-8";

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #7476FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: black;
    /* height: 600px; */
    width: 450px;
    border-radius: 10px;
    padding: 20px;
}

.results {
    height: 150px;
    width: 100%;
    border-bottom: 5px solid rgb(77, 77, 77);
}

.keys {
    display: grid;
    grid-template-areas: 
        "keyAC keyAC keyDel keyDivision"
        "key7 key8 key9 keyMult"
        "key4 key5 key6 keySub"
        "key1 key2 key3 keyAdd"
        "key0 keyPoint keyEquals keyEquals"
    ;
    gap: 5px;
    margin-top: 10px;
}

button {
    padding: 20px;
    font-size: 20px;
    background-color: #0B1A21;
    color: white;
    
    /* width: 91px;
    height: 76px; */
}

button:hover {
    opacity: 80%;
}

.keyAC {
    grid-area: keyAC;
    background-color: #7065C3;
}
.keyDel {
    grid-area: keyDel;
}
.keyDel img {
    height: 25px;
}
.keyDivision {
    grid-area: keyDivision;
    background-color: #7065C3;
}
.key7 {
    grid-area: key7;
}
.key8 {
    grid-area: key8;
}
.key9 {
    grid-area: key9;
}
.keyMult{
    grid-area: keyMult;
    background-color: #7065C3;
}
.key4 {
    grid-area: key4;
}
.key5 {
    grid-area: key5;
}
.key6 {
    grid-area: key6;
}
.keySub {
    grid-area: keySub;
    background-color: #7065C3;
}
.key1 {
    grid-area: key1;
}
.key2 {
    grid-area: key2;
}
.key3 {
    grid-area: key3;
}
.keyAdd {
    grid-area: keyAdd;
    background-color: #7065C3;
}
.key0 {
    grid-area: key0;
}
.keyPoint {
    grid-area: keyPoint;
}
.keyEquals {
    grid-area: keyEquals;
    background-color: #7065C3;
}
